<h1>Hello World, I'm writing HTML</h1>
<p> adding in my paragraph</p>
<a href="/first/josh"> click here to go to the first </a>
<a href="/second/<%=1%>"> click here to go to the second </a>

<%= Time.now %>
